body {
	font-family: "Microsoft YaHei";
}
.content {	
	margin: 0 auto;
	width: 80%;
	min-width: 555px;
	clear: both;
	background-color: #5130e0;
}
.content:after {/*ie8只支持:after不支持::after*/
    content:"";
    clear:both;/*清除浮动*/
    display:block;/*确保该元素是一个块级元素*/
}
.left {
	float: left;
	width: 17%;
	color: #fff;
	text-align: center;
}
h1 {
	margin-top: 50px;
}
.right {
	float: left;
	width: 78%;	
	padding-left: 5%;
	background-color: white;
}
dd {
	float: left;
	margin: 6px 0;
	margin-right: 30px; 
}
dl,dt {
	overflow: auto;
	zoom:1; /* 兼容IE6 */
	clear: both;
}
dt {
	font-weight: bold;
}
label {
	margin-right: 10px;
	font-weight: bold;	
}
select {
	position: absolute;
	top:21px;
	right: 50px;
}
